---
name: linting

"on": push

jobs:
  shellcheck:
    name: QA for Shellscripts
    runs-on: ubuntu-latest
    steps:
      - name: Check out code from repository
        uses: actions/checkout@v2
      - name: ShellCheck
        uses: ludeeus/action-shellcheck@1.0.0
        continue-on-error: true
        with:
          severity: style
          check_together: 'yes'
          additional_files: 'samutev.conf.template'
